- content_for :head do
  = faye_meta(workspace_path(@workspace), "current_workspace")
- content_for :header do
  .btn-toolbar
    .btn-group.pull-right
      %a.btn.btn-primary#add_ticket{ href: "#" }
        %i.icon-plus-sign.icon-white
        Add Ticket
    .btn-group{ data: { toggle: "buttons-checkbox" } }
      = link_to t("views.done"), "#", class: "btn btn-info", id: "done_space_button"
      = link_to t("views.current"), "#", class: "btn btn-info", id: "current_space_button"
      = link_to t("views.backlog"), "#", class: "btn btn-info", id: "pending_space_button"
    .btn-group
      %a.btn.dropdown-toggle{ data: { toggle: "dropdown" }, href: "#" }
        %i.icon-cog
        Workspace
        %span.caret
      %ul.dropdown-menu
        %li= link_to "Enter distraction Free Mode", "#"
        %li.divider
        %li= link_to "Settings", "#"
        %li= link_to "Members", workspace_members_path(@workspace)
    .btn-group
      %a.btn.dropdown-toggle{ data: { toggle: "dropdown" }, href: "#" }
        %i.icon-road
        Tickets
        %span.caret
      %ul.dropdown-menu
        %li= link_to "Refresh", workspace_path(@workspace), id: "refresh"
        %li= link_to "Settings", "#"
        %li.divider
        %li= link_to "Download as CSV", workspace_tickets_path(@workspace, format: :csv)

- content_for :footer do
  :javascript
    $(document).ready(function(){
      window.timeline = new Timeline.Routers.TicketsRouter({ 
        users: #{render partial: "users/members.json.builder", locals: { users: @workspace.users } },
        url: #{workspace_tickets_path( workspace_id: @workspace.id).inspect.html_safe} 
      });
      Backbone.history.start();
    });

.spaces
  %table#spaces
    %tr
      %td Loading... Please Wait...