!!!
%html
  %head
    %title= t("application.name")
    = csrf_meta_tags
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    :javascript
      I18n.defaultLocale = #{I18n.default_locale.to_s.inspect};
      I18n.locale = #{I18n.locale.to_s.inspect};
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon" }/
    = yield :head
  %body{ :id => "controller_#{controller.controller_name}_#{controller.action_name}" }
    .container-fluid.header
      .topbar-wrapper
        .topbar
          .topbar-inner
            %h3= link_to t("application.name"), root_url, class: "logo"
            - if user_signed_in?
              %ul.nav
                %li.dropdown{ data: { dropdown: "dropdown" } }
                  = link_to "Select Workspace", "#", class: "dropdown-toggle"
                  %ul.dropdown-menu
                    - self.current_user.workspaces.each do |workspace|
                      %li= link_to workspace.name, workspace
                    %li.divider
                    %li= link_to "Show All", workspaces_path
              %form
                %input.span4{ placeholder: "Search..." }/
              %ul.nav.secondary-nav
                %li= link_to "Notifications", "#"
                %li= link_to "Account", "#"
                %li= link_to "Logout", "#"
            - else
              = form_for(User.new, url: session_path("user"), html: { class: "pull-right" }) do |f|
                = f.email_field :email, placeholder: "E-Mail", class: "input-small"
                = f.password_field :password, placeholder: "Password", class: "input-small"
                %button.btn Sign in
            .clear
      .clear
      = yield :header
      .clear
      = render partial: "shared/flash_messages"
      .clear
    .container-fluid
      = yield
      .clear
    .cursor= image_tag "cursor_load.gif"